@page "/server"
@rendermode InteractiveServer
@using BlazorInteractiveAuto.Libs

<PageTitle>Counter(Server)</PageTitle>
<h1>Counter(Server)</h1>
<p>動作モード：
    @(OperatingSystem.IsBrowser() ? "WASM" : "Server")</p>
<p role="status">Current count: 
    @currentCount</p>
<p role="status">GlobalCounter: 
    @GlobalCounter.Instance.Value</p>

<button class="btn btn-primary" @onclick="IncrementCount">
    Click me</button>

@code {
    private int currentCount = 0;
    private void IncrementCount()
    {
        currentCount++;
        GlobalCounter.Instance.Increment();
    }
}
