@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>現在時刻: @now</p>
<button class="btn btn-primary" @onclick="dispDate">時刻を更新</button>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private DateTime now;
    private void dispDate()         
    {
        now = DateTime.Now;
    }
}
