<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの公開 / パッケージ処理で使用されます。この MSBuild ファイルを編集すると、
この処理の動作をカスタマイズできます。詳細については、https://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/43ea1964-f94b-44da-95ba-6325e610c0d1/resourcegroups/sample-blazor2/providers/Microsoft.Web/sites/SampleBlazorWebApiClientSameSv</ResourceId>
    <ResourceGroup>sample-blazor2</ResourceGroup>
    <ApiResourceId>/subscriptions/43ea1964-f94b-44da-95ba-6325e610c0d1/resourceGroups/sample-blazor2/providers/Microsoft.ApiManagement/service/BlazorWebApiClientSameSvApi/apis/BlazorWebApiClientSameSv</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sampleblazorwebapiclientsamesv-hydxf3h5a0c0gecy.japaneast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>55a1e33c-caec-47f3-8170-e19c0e2ec5ea</ProjectGuid>
    <MSDeployServiceURL>sampleblazorwebapiclientsamesv-hydxf3h5a0c0gecy.scm.japaneast-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SampleBlazorWebApiClientSameSv</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>